* {
    margin: 0;

    padding: 0;

    background-color: #2E2E2E;
}

header,
footer {
    width: 100%;

    height: 120px;

    background-color: #e9bb2c;

    color: black;
}

h1 {
    text-align: center;
    
    background-color: #e9bb2c;
}

h2 {
    text-align: center;

    color: #e9bb2c;
}

img{
    display: block;

    height: 50px;

    width: 50px;

    margin-left: auto;

    margin-right: auto;
}

ul {
    padding-left: 40px;

    font-size: 20px;

    color: #e9bb2c;
}

p {
    text-align: center;

    font-size: 30px;

    background-color: #e9bb2c;
}

.card {
    width: 80%;

    margin: 40px auto;

    border: 5px solid #e9bb2c;

    box-shadow: 5px 10px #555555;
}